{% extends "layout.html" %}
{% block body %}

<!----Used Boostrap page to help with position--->
<div style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;">
    <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}" role="button">Home</a>
</div>

<!----Filter friends cards by rarity--->
<h1>Friend Inventory</h1>
    <!----Filter user cards by rarity--->

     <h2>Filter cards by rarity!</h2>
    <ul class="cards">
        <li><a href="?">[all]</a></li>
        {% for card in cards %}
            <a class="btn btn-outline-secondary" href="?rank={{ card.rank }}">{{ card.rank }}</a>
        {% endfor %}
    </ul>


<h2>Friend Card Collection</h2>

  <div class="row">
    {% for card in collection %}
        <div class="col-sm-auto">
        <div class="container text-center">
            <div class="card" style="width: 11rem;">
                <div class="card-img-top"><img src="static/{{ card.image }}" style="height:250px;"></div>
                <div>{{ card.name }}</div>
                <div>{{ card.rank }}</div>
            </div>
        </div>
        </div>

    {% else %}
        <em>No cards in their collection!</em>
    {% endfor %}
</div>



{% endblock %}