{% extends "layout.html" %}
{% block body %}
<!----We will need to loop through the users in the friends list,
the same way we looped through entries to our flaskr website:
this code is going to be inside the loop--->
<h1>Send friend request here</h1>

<h2>Your friends</h2>
<table>
  <tr>
    <td>Friend</td>
    <td>View collection</td>
      <td>Trade</td>
  </tr>
  <tr>
    <td>Friend</td>
    <td>View collection</td>
      <td>Trade</td>
  </tr>
  <tr>
    <td>Friend</td>
    <td>View collection</td>
      <td>Trade</td>
  </tr>
  <tr>
    <td>Friend</td>
    <td>View collection</td>
      <td>Trade</td>
  </tr>
    <tr>
    <td>Friend</td>
    <td>View collection</td>
      <td>Trade</td>
  </tr>
    <tr>
    <td>Friend</td>
    <td>View collection</td>
      <td>Trade</td>
  </tr>
</table>


{% endblock %}