<!---- Used Bootstrap page to help with syntax
(source: https://getbootstrap.com/docs/5.2/getting-started/introduction/) --->

{% extends "layout.html" %}
{% block body %}

<!----Used Boostrap page to help with position--->
<div style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;">
    <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}" role="button">Home</a>
</div>

<!---- We will need to loop through the users in the friends list,
the same way we looped through entries to our flaskr website:
this code is going to be inside the loop --->
<h1>Send Friend Request</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">

                    

                    <form action="{{ url_for('add_friend') }}" method="post">
                        <input name="new_friend" type="text" placeholder="Username">
                        <input type="submit" value="Submit">
                    </form>
                    <!-- Commented out more stylized code to get basic functionality down, just for now
                    <input type="text" class="form-control" placeholder="Username" aria-label="new_friend" aria-describedby="basic-addon1">
                    <form type="submit" href="{{ url_for('add_friend') }}"class="btn btn-outline-secondary" id="button-addon2">Search</form>
                    <a type="submit" class="btn btn-primary btn-lg" href="{{ url_for('add_friend') }}" role="button">add</a>
                    -->
                </div>
            </div>
        </div>
    </div>

<!---- Idea taken from categories code from Flaskr assignment --->
<h2>Friends</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Friend name</th>
      <th scope="col">View collection</th>
      <th scope="col">Trade</th>
    </tr>
  </thead>
    <ul class="friends">
        <li><a href="{{ url_for('show_friends') }}">Display Friends</a></li>

        {% for friend in friend_list %}
            <li>{{ friend }}</li>
        {% endfor %}
        <tbody>

        {% for friend in friend_list %}
        <tr>
            <td>{{friend}}</td>
            <td><a class="btn btn-primary btn-lg" href="{{ url_for('friend_inventory') }}" role="button">Collection</a></td>
            <td>
                <a class="btn btn-primary btn-lg" href="{{ url_for('trade') }}" role="button">Trade</a>
            </td>
        </tr>
        </tbody>
        {% endfor %}

    </ul>
</table>

{% endblock %}