{% extends "layout.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <h1>Wallet Balance</h1>
</head>
<body>
<div class="container text-center">
        <div class="row">
            <div class="col">
                <a href="{{ url_for('your_inventory') }}">Inventory</a>
                <p> Admire your own collection and see which cards you want next!</p>
            </div>
            <div class="col">
                <a href="{{ url_for('marketplace') }}">Marketplace</a>
                <p>Buy and sell your favorite cards or purchase packs to see what you get!</p>
            </div>
            <div class="col">
                <a href="{{ url_for('connect_with_friends') }}">Connect with Friends</a>
                <p>Send friend requests, view your friends collections, message others, and organize trades!</p>
            </div>
            <div class="col">
                <a href="{{ url_for('trade') }}">Trading</a>
                 <p>Trade cards with your friends!</p>
            </div>




        <div class="col-4">
            <a>Complete Collections</a>
            <p>Apply the cards you own to unique sets to earn valuable rewards</p>
        </div>
    </div>
    <div class="container text-center">
          <a class="btn btn-primary btn-lg" href="{{ url_for('logout') }}" role="button">logout</a>
    </div>
{% endblock %}