{% extends "layout.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <h1>Wallet balance displayed here</h1>
</head>
<body>

<div class="row"></div>
    <div class="col-4">
        <h1>Your Inventory</h1>
        <p> Admire your own collection and see which cards you want next</p>
    </div>

    <div class="col-4">
        <h1>Marketplace</h1>
        <p>Buy and sell your favorite cards, or purchase packs and see what you get</p>
    </div>

    <div class="col-4">
        <h1>Complete Collections</h1>
        <p>Apply the cards you own to unique sets to earn valuable rewards</p>
    </div>
</div>

<div class="row">
    <h1> Connect with friends</h1>
    <p>Send friend requests, view your friends collections, message others, and organize trades</p>
</div>

</body>

{% endblock %}