
{% extends "layout.html" %}
{% block body %}
  <div class="container text-center">
        <dl>
            <div class="col-8">
              <dt>Search Marketplace:
              <dd><input class = 'form-control form-control-lg' type="text" size="30" name="marketsearch">
            </div>
        </dl>
          </div>

    <h1>Pack for sale here</h1>
    <h2> price</h2>
    <h1>Pack for sale here</h1>
    <h2> price</h2>
<table>
  <tr>
    <th>Card</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Card 1</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>Card 2</td>
    <td>$200</td>
  </tr>
  <tr>
    <td>Card 3</td>
    <td>$300</td>
  </tr>
    <tr>
    <td>Card 4</td>
    <td>$400</td>
  </tr>
    <tr>
    <td>Card 5</td>
    <td>$500</td>
  </tr>
</table>



{% endblock %}
