{% extends "layout.html" %}
{% block body %}

<!----Used Boostrap page to help with position--->
<div style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;">
    <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}" role="button">Home</a>
</div>

<h1>Marketplace</h1>

    <div class="container text-center">
        <h2>Packs</h2>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Mix Pack 1</h5>
                        <p class="card-text">Pack with Random Cards</p>
                        <form action="{{ url_for('pull_cards') }}" method="POST">
                            <input type="hidden" name="pack" value="pack1" class="add-id">
                            <input type="submit" class="btn btn-primary" value="Buy">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Mix Pack 2</h5>
                        <p class="card-text">Pack with Random Cards</p>
                        <form action="{{ url_for('pull_cards') }}" method="POST">
                            <input type="hidden" name="pack" value="pack2" class="add-id">
                            <input type="submit" class="btn btn-primary" value="Buy">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Mix Pack 3</h5>
                        <p class="card-text">Pack with Random Cards</p>
                        <form action="{{ url_for('pull_cards') }}" method="POST">
                            <input type="hidden" name="pack" value="pack3" class="add-id">
                            <input type="submit" class="btn btn-primary" value="Buy">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Mix Pack 4</h5>
                        <p class="card-text">Pack with Random Cards</p>
                        <form action="{{ url_for('pull_cards') }}" method="POST">
                            <input type="hidden" name="pack" value="pack4" class="add-id">
                            <input type="submit" class="btn btn-primary" value="Buy">
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Mix Pack 5</h5>
                            <p class="card-text">Pack with Random Cards</p>
                            <form action="{{ url_for('pull_cards') }}" method="POST">
                                <input type="hidden" name="pack" value="pack5" class="add-id">
                                <input type="submit" class="btn btn-primary" value="Buy">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Mix Pack 6</h5>
                            <p class="card-text">Pack with Random Cards</p>
                            <form action="{{ url_for('pull_cards') }}" method="POST">
                                <input type="hidden" name="pack" value="pack6" class="add-id">
                                <input type="submit" class="btn btn-primary" value="Buy">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Mix Pack 7</h5>
                            <p class="card-text">Pack with Random Cards</p>
                            <form action="{{ url_for('pull_cards') }}" method="POST">
                                <input type="hidden" name="pack" value="pack7" class="add-id">
                                <input type="submit" class="btn btn-primary" value="Buy">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h3>Listed Cards</h3>
    <h4>Purchase user listed cards to add to your collection!</h4>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Card</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <div class="container-fluid">
                {% for card in cards %}
                    <td>{{ card.name }}</td>
                    <td>{{ card.price }}</td>
                    <td>
                        <form action="{{ url_for('buy_card') }}" method="post" class="add-button">
                            <input type="hidden" name="market_id" value="{{ card.market_id }}" class="add-id">
                            <input type="hidden" name="card_id" value="{{ card.card_id }}" class="add-id">
                            <input type="submit" class="btn btn-primary btn-lg" value="Buy">
                        </form>
                    </td>
                    </td>
                    </td>
                {% endfor %}
            </div>
        </tr>
        </tbody>
    </table>

{% endblock %}