{% extends "layout.html" %}
{% block body %}

<div class="container text-center">
    <h1>Marketplace</h1>
</div>

    <div class="container text-center">
        <div class="row justify-content-start">
            <dl>
                <div class="col-12">
                    <dt>Search Marketplace:
                    <dd><input class='form-control form-control-lg' type="text" size="30" name="market search">
                </div>
            </dl>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pack</h5>
                        <p class="card-text">Pack specifications</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pack</h5>
                            <p class="card-text">Pack specifications</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Card</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Card</td>
            <td>Price</td>
            <td>
                <form action="{{ url_for('your_inventory') }}" method="post" class="buy-button">
                    <button type="button" class="btn btn-primary btn-lg">Buy</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>Card 2</td>
            <td>Price</td>
            <td>
                <form action="{{ url_for('your_inventory') }}" method="post" class="buy-button">
                    <button type="button" class="btn btn-primary btn-lg">Buy</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>Card 3</td>
            <td>Price</td>
            <td>
                <form action="{{ url_for('your_inventory') }}" method="post" class="buy-button">
                    <button type="button" class="btn btn-primary btn-lg">Buy</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>Card 4</td>
            <td>Price</td>
            <td>
                <form action="{{ url_for('your_inventory') }}" method="post" class="buy-button">
                    <button type="button" class="btn btn-primary btn-lg">Buy</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>Card 5</td>
            <td>Price</td>
            <td>
                <form action="{{ url_for('your_inventory') }}" method="post" class="buy-button">
                    <button type="button" class="btn btn-primary btn-lg">Buy</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="container text-center">
          <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}" role="button">Home</a>
    </div>

{% endblock %}