<button style="float:right" class="btn btn-primary btn-lg" href="{{ url_for('home') }}">Home</button>

{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
  {% for card in cards %}
    <div class="container-fluid">
      <a>{{card.name}}</a>
      <a>{{card.rank}}</a>
      <a>Flavor Text! Woohoo!</a>
    </div>
  {% endfor %}
</div>

<div class="container text-center">
      <a class="btn btn-primary btn-lg" href="{{ url_for('marketplace') }}" role="button">Marketplace</a>
</div>

{% endblock %}