{% extends "layout.html" %}
{% block body %}

<!----Used Boostrap page to help with position--->
<div style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;">
    <a class="btn btn-primary btn-lg" href="{{ url_for('marketplace') }}" role="button">Back</a>
</div>

<head>
    <meta charset="UTF-8">
    <title>Your Cards!</title>
</head>
<body>
    <div class="container text-center">
        Your Cards
    </div>
    {% for card in cards %}
        <img src="static/{{ card }}" style="height:350px;">
    {% endfor %}
</body>

{% endblock %}
</html>