{% extends "layout.html" %}
{% block body %}

    <body>
    <h2>Trade Submission</h2>


<h3>You Receive:</h3>
    <form action="{{ url_for('trade_result') }}" method="post" class="form-check form-switch">
<div class="row">
    {% for card in deck %}
        <div class="col-sm-auto">
        <div class="container text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ card.image }}" style="height:350px;">
                        <div class="card-body"><a>{{ card.name }}</a><br>
                            <div class="card-body"><a>{{ card.rank }}</a><br>
                                <p class="card-text"><a>Trading Cards</a>
                                    <input class="form-check-input" type="checkbox" id="mySwitch" name="card_id_request" value="{{ card.card_id }}" unchecked>
                                    <input type="hidden" name="delete_id_r" value="{{ card.delete_id }}" class="add-id">
                                    <label class="mySwitch">Receive this Card?</label>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
    {% endfor %}
</div>

    <h4>YOU OFFER</h4>
    <div class="row">
    {% for card in collection %}
        <div class="col-sm-auto">
          <div class="container text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ card.image }}" style="height:350px;">
                        <div class="card-body"><a>{{ card.name }}</a><br>
                            <div class="card-body"><a>{{ card.rank }}</a><br>
                                <p class="card-text"><a>Trading Cards</a>
                                    <input class="form-check-input" type="checkbox" id="mySwitch" name="card_id_offer" value="{{ card.card_id }}" unchecked>
                                    <input type="hidden" name="delete_id_o" value="{{ card.delete_id }}" class="add-id">
                                    <label class="mySwitch">Offer this card:</label>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

    {% endfor %}
    </div>


            <div class="container text-center">
                <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}" role="button">Home</a>
                    <input type="hidden" name="user" value="{{ user }}" class="add-id">
                    <input type="submit" class="btn btn-primary btn-lg" value="Submit Offer!">

            </div>
    </form>






    </body>
</html>
{% endblock %}