{% extends "layout.html" %}
{% block body %}

<div class="container text-center">
    <h1>Transaction History</h1>
</div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Card_ID</th>
            <th scope="col">Wallet Change</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transaction_history %}
            <tr>
            <td>{{ transaction.user_id }}</td>
            <td>{{ transaction.card_id }}</td>
            <td>{{ transaction.wallet_change }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="container text-center">
          <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}" role="button">Home</a>
        </div>

{% endblock %}