{% extends "layout.html" %}
{% block body %}

<h1>Card Inventory</h1>

<!----We will need to loop through the cards in the user collection,
the same way we looped through entries to our flaskr website:
this code is going to be inside the loop--->

<h2>My Card Collection</h2>
  <ul class="collection">
  {% for card in collection %}
    <li>
        <h3>{{ card.name }}</h3>
        <i>[{{ card.rareity }}]</i>
        <p>{{ card.description }}</p>
    </li>
  {% else %}
    <em>No cards in your collection!</em>
  {% endfor %}
  </ul>

<div class="container text-center">
  <div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body"><h1>Card Name</h1>
                <div class="card-body"><h2>Card Rarity</h2>
                    <p class="card-text"><h3>Short card description</h3></p>
                </div>
            </div>
        </div>
    </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body"><h1>Card Name</h1>
                    <div class="card-body"><h2>Card Rarity</h2>
                        <p class="card-text"><h3>Short card description</h3></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body"><h1>Card Name</h1>
                    <div class="card-body"><h2>Card Rarity</h2>
                        <p class="card-text"><h3>Short card description</h3></p>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body"><h1>Card Name</h1>
                        <div class="card-body"><h2>Card Rarity</h2>
                            <p class="card-text"><h3>Short card description</h3></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body"><h1>Card Name</h1>
                        <div class="card-body"><h2>Card Rarity</h2>
                            <p class="card-text"><h3>Short card description</h3></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body"><h1>Card Name</h1>
                        <div class="card-body"><h2>Card Rarity</h2>
                            <p class="card-text"><h3>Short card description</h3></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
          <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}" role="button">Home</a>
    </div>

{% endblock %}
